* {
    box-sizing: border-box;
    flex-direction: column;
}
p {
    color: red;
}
h1 {
    border: 10px solid black;
    padding: 10px ;
    margin: 30px;
    color:gold;
}
section {
    float: left;
    width: 30%;
    height: 300px;
    border: 3px solid royalblue;
    padding: 5px;
    margin: 15px;
}